@{
    ViewBag.Title = "Grid";
    Random rand = new Random();
}
<script src="@Url.Content("~/Scripts/Views/Home/Memory.js?v=" + rand.Next(10000))" type="text/javascript"></script>
<div>
    <button data-bind="click: $root.refresh">Refresh</button>
</div>
<div data-bind="foreach: $root.array">
    <span data-bind="html: i"></span>
</div>