@{
    ViewBag.Title = "Grid";
    Random rand = new Random();
}
<script src="@Url.Content("~/Scripts/EntityJs/simpleedit.js")" type="text/javascript"></script>
<div id="divGrid">
    <div style="overflow:auto" id="divCrud" class="ejsgrid scroll beige"></div>
</div>