@{
    ViewBag.Title = "EntityJs - licence";
}

<ul id="menu">
    <li>
        <a href="@Url.Content("~/")">Home</a>
    </li>
    <li>
        <span>-></span>
    </li>
    <li>
        <a href="@Url.Content("~/Home/Index/Licence")">Client side</a>
    </li>
</ul>
<h1>EntityJs - Licence</h1>
<p>
    EntityJs is an open source project. You can use EntityJs in any kind of open source, close source, free and commercial projects.
    <br />
    You cannot sell any part of EntityJs. Any kind of projects based on EntityJs has to be free and open source.
    <br />
    I haven't decided which licence to use with EntityJs yet. If you have any questions contact me I am sure we can do a deal.
</p>