@{
    ViewBag.Title = "EntityJs - getting strated";
}

<ul id="menu">
    <li>
        <a href="@Url.Content("~/")">Home</a>
    </li>
    <li>
        <span>-></span>
    </li>
    <li>
        <a href="@Url.Content("~/Home/Index/GettingStarted")">getting strated</a>
    </li>
</ul>
<h1>EntityJs - Getting strated</h1>
<p>
    You have to do next steps to start working with EntityJs:
</p>
<ol>
    <li>
        Create database, tables and columns.
    </li>
    <li>
        Create new asp.net mvc project.
    </li>
    <li>
        Add reference to EntityJs.Client.dll.
    </li>
    <li>
        Create <a href="/Home/Index/ServerSide#hDataController">DataController</a>.
    </li>
    <li>
        Create <a href="/Home/Index/ServerSide#hJsModel">JsModel</a>.
    </li>
    <li>
        Implement <a href="/Home/Index/ServerSide#hIEntity">IEntity</a> interface for each entity you want to use with EntityJs.
    </li>
    <li>
        Include jquery, jquery.ui, jquery.validate and knockout.js into your project.
    </li>
    <li>
        Include scripts from EntityJs folder:
        <ul>
            <li>jq.js</li>
            <li>ko.js</li>
            <li>core.js</li>
            <li>entity.js</li>
            <li>set.js</li>
            <li>model.js</li>
            <li>pager.js</li>
            <li>grid.js</li>
            <li>crud.js</li>
        </ul>
    </li>
    <li>
        Create controller and action for your new EntityJs page.
    </li>
    <li>
        Create new js file for your EntityJs page.
    </li>
    <li>
        Create new object for knockout model.
    </li>
    <li>
        Create new <a href="/Home/Index/ClientSide#hmodel.js">ejs.model</a>.
    </li>
    <li>
        Create new <a href="/Home/Index/ClientSide#hcrud.js">ejs.crud</a>.
    </li>
    <li>
        Apply knockout bindings.
    </li>
    <li>
        Enjoy the work.
    </li>
</ol>