body 
{
    font-family:'Times New Roman';
    font-size:16px;
    line-height:20px;
    margin:0px;
    padding:5px 20px;
    min-width:1000px;
}

#menu
{
    list-style-type:none;
    overflow:auto;
    padding:0px;
    margin-bottom:20px;
}

#menu li
{
    float:left;
    margin-right:10px;
    padding:0px;
}

.incorrect
{
    color:red;
}

.correct
{
    color:green;
}